__pycache__
build
dist
Makefile
htmlcov
.coverage
*.uxf
*.egg-info
/venv
**/.idea
**.pyc
**.DS_Store
helper.py

events*

.ipynb_checkpoints
*.pkl
*.pth
events.*
*.npy

data/*
*logs*
epoch*

*.json
keep_ckpt/*


# ram local dirs
*experiments/*
ram_notebooks/*
benchmark_models/*

*/json
*gif*
projections*
*.png
